<div id="top">
  <div class="container column">
    <div class="display-for-pc">
      <div class="column-main">

        <div class="content">
          <%= render "shared/top_youtuber_list" %>
        </div>

        <div class="content">
          <%= render "shared/new_post" %>
        </div>

      </div>

      <div class="column-side">
        <%= render "shared/widget" %>
      </div>
    </div>

    <div class="display-for-sp">
      <div class="content first-content">
        <%= render "shared/special_category" %>
      </div>

      <div class="content">
        <%= render "shared/top_youtuber_list" %>
      </div>

      <div class="content">
        <%= render "shared/new_post" %>
      </div>
    </div>
  </div>
</div>