<div id="youtubers-list">
  <div class="container">
    <h2 class="youtuber-list-title">Youtuber一覧</h2>
    <ul class="youtuber-wrapper-for-pc">
      <% @youtubers.each do |youtuber| %>
        <li class="youtuber-content">
          <% if ItemPost.find_by(post: Post.includes(:youtuber).where(youtuber: youtuber)).blank? %>
            <div class="item-unreleased">
              <p class="item-unreleased-text">アイテム未公開</p>
            </div>
          <% end %>
          <%= link_to youtuber_path(youtuber.id), class:"youtuber-info" do %>
            <%= image_tag youtuber.image.url, class:"channel-img"%>
            <div>
              <span class="youtuber-name"><%= youtuber.name %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="youtuber-wrapper-for-sp">
      <% @youtubers.each do |youtuber| %>
        <li class="youtuber-content">
          <% if ItemPost.find_by(post: Post.includes(:youtuber).where(youtuber: youtuber)).blank? %>
            <div class="item-unreleased">
              <p class="item-unreleased-text">アイテム未公開</p>
            </div>
          <% end %>
          <%= link_to youtuber_path(youtuber.id), class:"youtuber-info" do %>
            <%= image_tag youtuber.image.url, class:"channel-img"%>
            <div class="youtube-name-wrapper">
              <span class="youtuber-name"><%= youtuber.name %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="pagination-wrapper">
      <%= paginate @youtubers %>
    </div>
  </div>
</div>