<div id="new-post">
  <h2 class="new-post-title">新着アイテム</h2>
  <ul class="posts-wrapper">
    <% @posts.find_each do |post| %>
      <%= link_to youtuber_path(post.youtuber_id) do %>
        <li class="post-info">
          <%= image_tag post.thumbnail.url, class:"post-img"%>
          <h3 class="post-title"><%=post.title%></h3>
          <div class="youtuber-info">
            <%=image_tag Youtuber.find(post.youtuber_id).image.url, class:"youtuber-img" %>
            <span class="youtuber-name"><%= Youtuber.find(post.youtuber_id).name %></span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%=link_to posts_path, class:"post-index-btn" do %>
    新着アイテム一覧へ
  <% end %>
</div>