<div id="new-post">
  <h2 class="new-post-title">新着アイテム紹介動画<span class="update-date">更新日<%= @recentry_update_date %></span></h2>
  <ul class="posts-wrapper">
    <% @posts.each do |post| %>
      <li>
        <%= link_to post_path(post.id), class:"post-info" do %>
          <div class="post-img-wrapper">
            <% if post.item_posts.blank? %>
              <div class="item-unreleased">
                <p class="item-unreleased-text">アイテム未公開</p>
              </div>
            <% end %>
            <%= image_tag post.thumbnail.url, class:"post-img"%>
          </div>
          <h3 class="post-title"><%=post.title%></h3>
          <div class="youtuber-info">
            <%=image_tag post.youtuber.image.url, class:"youtuber-img" %>
            <span class="youtuber-name"><%= post.youtuber.name %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%=link_to posts_path, class:"post-index-btn" do %>
    新着アイテム紹介動画一覧へ
  <% end %>
</div>