<div id="special-category">
  <ul class="category-wrapper">
    <li>
      <a class="category">
        <%= image_tag("sun.png") %>
        <span>モーニング<br class="line-space">ルーティン</span>
      </a>
    </li>
    <li>
      <a class="category">
        <%= image_tag("moon.png") %>
        <span>ナイト<br class="line-space">ルーティン</span>
      </a>
    </li>
    <li>
      <a class="category">
        <%= image_tag("bag.png") %>
        <span>バッグの中身</span>
      </a>
    </li>

    <li>
      <a class="category">
        <%= image_tag("pouch.png") %>
        <span>ポーチの中身</span>
      </a>
    </li>
    <li>
      <a class="category">
        <%= image_tag("house.png") %>
        <span>おうち時間</span>
      </a>
    </li>
    <li>
      <a class="category">
        <%= image_tag("cosme.png") %>
        <span>毎日コスメ</span>
      </a>
    </li>
  </ul>
</div>