<div id="widget-side">
  <h2 class="header-sidebar">カテゴリー</h2>
  <div class="category-list">
    <ul>
      <%= @categories.all.find_each do |category| %>
        <li>
          <%= link_to category_path(category.id), class:"category-item" do %>
            <%=image_tag category.image.url, class:"category-img" %>
            <p class="category-name"><%= category.name %></p>
          <% end %>
        </li>
      <% end %>
    </ul> 
  </div>
  <h2 class="header-sidebar">人気動画ネタ</h2>
  <div class="category-list">
    <ul>
      <li>
        <a class="category-item">
          <p class="category-name">モーニングルーティン</p>
          <span></span>
        </a>
      </li>
      <li>
        <a class="category-item">
          <p class="category-name">ナイトルーティン</p>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
  <h2 class="header-sidebar">人気Youtuber</h2>
  <div class="category-list">
    <ul>
      <%= @youtubers.all.find_each do |youtuber| %>
        <li>
          <%= link_to youtuber_path(youtuber.id), class:"category-item" do %>
            <p class="category-name"><%= youtuber.name %></p>
          <% end %>
        </li>
      <% end %>
    </ul> 
  </div>
</div>