<div id="widget-side">
  <h2 class="header-sidebar">カテゴリー</h2>
  <div class="category-list">
    <ul>
      <%= @categories.all.find_each do |category| %>
        <li>
          <%= link_to category_path(category.id), class:"category-item" do %>
            <%=image_tag category.image.url, class:"category-img" %>
            <p class="category-name"><%= category.name %></p>
          <% end %>

          <%= Category.where(ancestry: category.id).find_each do |sub_category| %>
            <% if ItemCategory.find_by(category: sub_category).present? %>
              <%= link_to category_path(sub_category.id), class:"category-item sub_category" do %>
                <p class="category-name"><%= sub_category.name %></p>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul> 
  </div>
  <h2 class="header-sidebar">人気動画ネタ</h2>
  <div class="category-list">
    <ul>
      <li>
        <a class="category-item">
          <p class="category-name">モーニングルーティン</p>
        </a>
      </li>
      <li>
        <a class="category-item">
          <p class="category-name">ナイトルーティン</p>
        </a>
      </li>
    </ul>
  </div>
  <!--
  <h2 class="header-sidebar">人気Youtuber</h2>
  <div class="category-list">
    <ul>
      <%= @youtubers.all.find_each do |youtuber| %>
        <li>
          <%= link_to youtuber_path(youtuber.id), class:"category-item" do %>
            <p class="category-name"><%= youtuber.name %></p>
          <% end %>
        </li>
      <% end %>
    </ul> 
  </div>
  -->
</div>