<div id="widget-side">
  <h2 class="header-sidebar">カテゴリー</h2>
  <div class="category-list">
    <ul>
      <%= @categories.all.find_each do |category| %>
        <li>
          <%= link_to category_path(category.id), class:"category-item" do %>
            <% if category.image.present? %>
              <%=image_tag category.image.url, class:"category-img" %>
            <% end %>  
            <p class="category-name"><%= category.name %></p>
          <% end %>

          <%= Category.where(ancestry: category.id).find_each do |sub_category| %>
            <% if ItemCategory.find_by(category: sub_category).present? %>
              <%= link_to category_path(sub_category.id), class:"category-item sub_category" do %>
                <p class="category-name"><%= sub_category.name %></p>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul> 
  </div>
</div>