<div id="posts-list">
  <div class="container">
    <h2 class="new-post-title">新着アイテム一覧</h2>
    <ul class="posts-wrapper">
      <% @posts.find_each do |post| %>
        <li>
          <%= link_to youtuber_path(post.youtuber_id), class:"post-info" do %>
            <div class="post-img-wrapper">
              <% if post.item_posts.blank? %>
                <div class="item-unreleased">アイテム未公開</div>
                <%= image_tag post.thumbnail.url, class:"post-img", style:"opacity:0.4; -webkit-filter: grayscale(80%); filter: grayscale(80%);"%>
              <% else %>
                <%= image_tag post.thumbnail.url, class:"post-img"%>
              <% end %>
            </div>
            <h3 class="post-title"><%=post.title%></h3>
            <div class="youtuber-info">
              <%=image_tag post.youtuber.image.url, class:"youtuber-img" %>
              <span class="youtuber-name"><%= post.youtuber.name %></span>
            </div>
          <% end %>
        </li> 
      <% end %>
    </ul>
    <div class="pagination-wrapper">
      <%= paginate @posts %>
    </div>
  </div>
</div>