<div id="posts-list">
  <div class="container">
    <h2 class="new-post-title">新着アイテム一覧</h2>
    <ul class="posts-wrapper">
      <% @posts.find_each do |post| %>
        <li>
          <%= link_to youtuber_path(post.youtuber_id), class:"post-info" do %>
            <%= image_tag post.thumbnail.url, class:"post-img"%>
            <h3 class="post-title"><%=post.title%></h3>
            <div class="youtuber-info">
              <%=image_tag post.youtuber.image.url, class:"youtuber-img" %>
              <span class="youtuber-name"><%= post.youtuber.name %></span>
            </div>
          <% end %>
        </li> 
      <% end %>
    </ul>
    <div class="pagination-wrapper">
      <%= paginate @posts %>
    </div>
  </div>
</div>