<div id="post-show">
  <div class="container">
    <div class="column-main">
      <div class="post-info">
        <%=image_tag @post.thumbnail.url, class:"post-img" %>
        <div>
          <h2 class="post-title"><%= @post.title %></h2>
          <%=link_to youtuber_path(@post.youtuber.id), class:"youtuber-info" do %>
            <%=image_tag @post.youtuber.image.url, class:"youtuber-img" %>
            <p class="youtuber-name"><%= @post.youtuber.name %></p>
          <% end %>
        </div>
      </div>
      
      <ul class="item-content-wrapper">
        <% @items.each do |item| %>
          <li class="item-content">
            <div class="item-info">
              <%=image_tag item.image.thumb_mini.url, class:"item-img" %>
              <div>
                <p class="item-name"><%= item.name %></p>
                <p class="item-price"><%= item.price %>円<span class="tax-include">(税込)</span></p>
                <ul class="item-btn-wrapper">
                  <li>
                    <%=link_to "楽天で詳細をみる", item.rakuten_url, class:"item-link", target: :_blank, rel: "noopener" if item.rakuten_url.present? %>
                  </li>
                  <li>
                    <%=link_to "Amazonで詳細をみる", item.amazon_url, class:"item-link", target: :_blank, rel: "noopener" if item.rakuten_url.present? %>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <p><%=link_to @post.youtuber.name, youtuber_path(@post.youtuber.id), class:"link-to-youtuber" %><br>のアイテム一覧を見る</p>
    </div>
  </div>
</div>