<div id="category-item">
  <div class="container">
    <h2 class="category-title"><%= @category.name %></h2>
    <ul class="category-wrapper">
      <% @categories.each do |category| %>
        <%= link_to category_path(category.id) do %>
          <li class="category">
            <p class="category-child-title"><%=category.name%></p>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div class="column-main">
      <h2 class="category-title">Youtuberのおすすめアイテム</h2>
        
        <% if @items.present? %>
          <ul class="item-wrapper-for-pc">
            <% @items.each do |item| %>
              <li class="item">
                <%= image_tag item.image.url, class:"item-img" %>
                <div>
                  
                  <% if item.posts.present? %>
                    <%=link_to post_path(item.posts.first.id), class:"youtuber-info" do %>
                      <%=image_tag item.posts.first.youtuber.image.url, class:"channel-icon" %>
                      <p class="channel-name"><%= item.posts.first.youtuber.name %></p>
                    <% end %>
                  <% end %>

                  <% if item.amazon_url %>
                    <%=link_to item.name, item.amazon_url, class:"item-name", target: :_blank, rel: "noopener" %>
                  <% else %>
                    <%=link_to item.name, item.rakuten_url, class:"item-name", target: :_blank, rel: "noopener" %>
                  <% end %>

                  <% if item.category.present? %>
                    <%= link_to item.category.name, category_path(item.category.id), class:"item-category" %>
                  <% end %>
                  
                  <span class="item-price"><%= item.price %>円(税込)</span>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul class="post-wrapper-for-pc">
            <% @posts.each do |post| %>
              <li>
                <%= link_to post_path(post.id), class:"post-info" do %>
                  <%= image_tag post.thumbnail.url, class:"post-img"%>
                  <h3 class="post-title"><%=post.title%></h3>
                  <div class="youtuber-info">
                    <%=image_tag post.youtuber.image.url, class:"youtuber-img" %>
                    <span class="youtuber-name"><%= post.youtuber.name %></span>
                  </div>
                <% end %>
              </li>
            <% end %>  
          </ul>
        <% end %>
        
        <% if @items.present? %>
          <ul class="item-wrapper-for-sp">
            <% @items.each do |item| %>
              <li class="item">
                <%= image_tag item.image.url, class:"item-img" %>
                <div>
                  
                  <% if item.posts.present? %>
                    <%=link_to post_path(item.posts.first.id), class:"youtuber-info" do %>
                      <%=image_tag item.posts.first.youtuber.image.url, class:"channel-icon" %>
                      <p class="channel-name"><%= item.posts.first.youtuber.name %></p>
                    <% end %>
                  <% end %>

                  <% if item.amazon_url %>
                    <%=link_to item.name, item.amazon_url, class:"item-name", target: :_blank %>
                  <% else %>
                    <%=link_to item.name, item.rakuten_url, class:"item-name", target: :_blank %>
                  <% end %>

                  <% if item.category.present? %>
                    <%= link_to item.category.name, category_path(item.category.id), class:"item-category" %>
                  <% end %>

                  <span class="item-price"><%= item.price %>円(税込)</span>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul class="post-wrapper-for-sp">
            <% @posts.each do |post| %>
              <li>
                <%= link_to post_path(post.id), class:"post-info" do %>
                  <%= image_tag post.thumbnail.url, class:"post-img"%>
                  <h3 class="post-title"><%=post.title%></h3>
                  <div class="youtuber-info">
                    <%=image_tag post.youtuber.image.url, class:"youtuber-img" %>
                    <span class="youtuber-name"><%= post.youtuber.name %></span>
                  </div>
                <% end %>
              </li>
            <% end %> 
          </ul>
        <% end %>

        <div class="pagination-wrapper">
          <%= paginate @items %>
        </div>
    </div>
  </div>
</div>

<% content_for(:title) { @category.name } %>