<!DOCTYPE html>
<html>
  <head>
    <title>Tubest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render "shared/footer.html.erb" %>
  </body>
</html>
